@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #767676;
  transition: all ease 0.5s;
  display: inline-block;
  position: absolute;
  right: inherit;
  margin-left: 10px;
  top: 16px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #767676;
  transition: all ease 0.5s;
  display: inline-block;
  position: absolute;
  right: inherit;
  margin-left: 10px;
  top: 16px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #767676;
  transition: all ease 0.5s;
  display: inline-block;
  position: absolute;
  right: inherit;
  margin-left: 10px;
  top: 16px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right:7px solid #767676; 
  transition: all ease 0.5s;
  display: inline-block;
  position: absolute;
  right: inherit;
  margin-left: 10px;
  top: 16px;
}