/* line 1, ../sass/style.scss */
.mainContainer {
  box-sizing: border-box;
  position: relative;
  min-height: 500px;
  overflow: auto;
}
/* line 7, ../sass/style.scss */
.mainContainer * {
  box-sizing: border-box;
}
/* line 11, ../sass/style.scss */
.mainContainer .taskListWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  z-index: 9999;
}
/* line 20, ../sass/style.scss */
.mainContainer .taskListWrapper .spinnerText div {
  text-shadow: 2px 0 9px rgba(0, 0, 0, 0.5);
  color: #FFF;
}
/* line 24, ../sass/style.scss */
.mainContainer .taskListWrapper .loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* line 33, ../sass/style.scss */
.mainContainer .taskLoadingWrapper {
  background: rgba(0, 0, 0, 0.33);
}
/* line 37, ../sass/style.scss */
.mainContainer .spinnerWheel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 44, ../sass/style.scss */
.mainContainer .notificationMessageWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 50, ../sass/style.scss */
.mainContainer .notificationMessageWrapper .innerPropWrapper {
  display: flex;
  align-items: center;
  font-size: 20px;
}
/* line 55, ../sass/style.scss */
.mainContainer .notificationMessageWrapper .innerPropWrapper i {
  padding-top: 5px;
}
/* line 59, ../sass/style.scss */
.mainContainer .notificationMessageWrapper .innerPropWrapper span {
  padding-left: 10px;
}
/* line 66, ../sass/style.scss */
.mainContainer .gridGroup {
  position: relative;
}
/* line 69, ../sass/style.scss */
.mainContainer .gridGroup .gridGroupTitle {
  font-weight: 500;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefefe+0,ececec+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #ececec 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ececec',GradientType=0 );
  /* IE6-9 */
  align-items: center !important;
}
/* line 79, ../sass/style.scss */
.mainContainer .gridGroup .gridGroupTitle .gridCell {
  padding: 0px !important;
  align-self: center !important;
  font-weight: 700;
  color: #666666;
}
/* line 84, ../sass/style.scss */
.mainContainer .gridGroup .gridGroupTitle .gridCell.gridCollapseAdd {
  min-width: 40px !important;
  width: 40px;
  max-width: 40px;
}
/* line 91, ../sass/style.scss */
.mainContainer .gridGroup .gridGroupInner {
  position: relative;
}
/* line 94, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory {
  margin-left: 0px;
}
/* line 97, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory.gridToDoList {
  margin-left: 80px;
}
/* line 100, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory.gridToDoList .gridParentTask {
  margin-left: 0px;
}
/* line 105, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridCategoryTitle {
  background-color: #f8f6f6;
  align-items: center;
}
/* line 109, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridCategoryTitle .gridCell {
  padding: 0px;
  align-self: center;
}
/* line 114, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridCategoryTitle .gridCheckbox {
  background-color: #FFF;
  position: relative;
}
/* line 117, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridCategoryTitle .gridCheckbox::after {
  content: '';
  background-color: #FFF;
  height: 1px;
  left: 0;
  right: 0;
  position: absolute;
  bottom: -1px;
}
/* line 129, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridCategoryTitle.gridRowSelected .gridCheckbox {
  background-color: #FFF;
}
/* line 134, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory {
  margin-left: 40px;
}
/* line 137, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory .gridSubCategoryTitle {
  background-color: #f8f6f6;
  align-items: center;
}
/* line 141, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory .gridSubCategoryTitle .gridCheckbox {
  background-color: #FFF;
}
/* line 143, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory .gridSubCategoryTitle .gridCheckbox::after {
  content: '';
  background-color: #FFF;
  height: 1px;
  left: 0;
  right: 0;
  position: absolute;
  bottom: -1px;
}
/* line 154, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory .gridSubCategoryTitle.gridRowSelected {
  background-color: #eaeaea;
}
/* line 156, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory .gridSubCategoryTitle.gridRowSelected .gridCheckbox {
  background-color: #FFF;
}
/* line 161, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory .gridSubCategoryTitle .gridCell {
  padding: 0px;
  align-self: center;
}
/* line 166, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubCategory .gridParentTask {
  margin-left: 40px !important;
}
/* line 170, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridParentTask {
  margin-left: 80px;
}
/* line 173, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridParentTask .gridParentTaskInner {
  position: relative;
}
/* line 176, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridParentTask .gridSubTask {
  margin-left: 0px;
}
/* line 180, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubTask {
  margin-left: 80px;
}
/* line 183, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubTask .gridSubTaskInner {
  position: relative;
}
/* line 186, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubTask .gridSubTaskInner .gridSubtaskValue {
  display: flex;
  white-space: normal;
  overflow: hidden;
}
/* line 191, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubTask .gridSubTaskInner .gridSubtaskValue i {
  color: #000;
}
/* line 194, ../sass/style.scss */
.mainContainer .gridGroup .gridCategory .gridSubTask .gridSubTaskInner .gridSubtaskValue .gridSubtaskValueInner {
  text-indent: 30px;
  position: relative;
}
/* line 202, ../sass/style.scss */
.mainContainer .gridGroup .gridRow {
  position: relative;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e6e6e7;
  transition: all ease 0.3s;
}
/* line 210, ../sass/style.scss */
.mainContainer .gridGroup .gridRow:hover .gridMoveIcon {
  visibility: visible;
}
/* line 215, ../sass/style.scss */
.mainContainer .gridGroup .gridRow.gridRowSelected {
  background-color: #eaeaea;
  border-color: #ffffff;
}
/* line 219, ../sass/style.scss */
.mainContainer .gridGroup .gridRow.gridRowSelected:hover {
  background-color: #dadada;
}
/* line 222, ../sass/style.scss */
.mainContainer .gridGroup .gridRow.gridRowSelected .gridCheckboxInner {
  opacity: 1;
}
/* line 226, ../sass/style.scss */
.mainContainer .gridGroup .gridRow:hover {
  background-color: #f4f4f4;
}
/* line 229, ../sass/style.scss */
.mainContainer .gridGroup .gridRow:hover .gridCheckboxInner {
  opacity: 1;
}
/* line 233, ../sass/style.scss */
.mainContainer .gridGroup .gridRow .gridCell {
  align-self: stretch;
  padding: 11px 8px 11px 12px;
  word-break: break-word;
}
/* line 238, ../sass/style.scss */
.mainContainer .gridGroup .gridRow .gridCell button:hover {
  color: inherit;
  background-color: transparent;
  border: none;
}
/* line 244, ../sass/style.scss */
.mainContainer .gridGroup .gridRow .gridCell .gridOrderNumber {
  display: block;
  text-align: left;
}
/* line 248, ../sass/style.scss */
.mainContainer .gridGroup .gridRow .gridCell .gridDocsCount, .mainContainer .gridGroup .gridRow .gridCell .gridCommentCount {
  display: flex;
  align-items: center;
  text-shadow: 1px 0 2px rgba(45, 125, 245, 0.5);
  margin: 0;
  width: 100%;
}
/* line 255, ../sass/style.scss */
.mainContainer .gridGroup .gridRow .gridCell .gridDocsCount i, .mainContainer .gridGroup .gridRow .gridCell .gridCommentCount i {
  padding-right: 4px;
}
/* line 261, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow {
  height: 32px;
  align-items: center;
  border-width: 2px;
  border-bottom-color: #b5b5b5;
  border-bottom-style: groove;
  margin-left: 40px;
}
/* line 269, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow:hover, .mainContainer .gridGroup .gridHeaderRow.gridRowSelected, .mainContainer .gridGroup .gridHeaderRow.gridRowSelected:hover {
  background-color: #FFF;
}
/* line 273, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell {
  padding: 0px 8px 0px 12px;
  align-self: center;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 281, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell * {
  max-height: 32px;
  cursor: default;
  padding: 0;
  margin: 0px;
  border: none;
  height: 32px;
  line-height: 32px;
  color: inherit;
}
/* line 292, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell button:hover {
  color: inherit;
  background-color: transparent;
  border: none;
}
/* line 298, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell i {
  padding: 0 0 0 4px;
  color: inherit;
  order: 2;
}
/* line 304, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell.gridCollapseAdd {
  min-width: 40px !important;
  width: 40px;
  max-width: 40px;
}
/* line 310, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell.gridCheckbox {
  min-height: 30px;
  max-height: 30px;
  margin-left: 40px;
}
/* line 315, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell.gridCheckbox .gridCheckboxInner {
  height: 32px;
}
/* line 318, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell.gridCheckbox .gridCheckboxInner input {
  height: auto;
}
/* line 322, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell.gridCheckbox .gridCheckboxInner label {
  cursor: default;
  height: auto;
}
/* line 326, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell.gridCheckbox .gridCheckboxInner label div {
  margin: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #666666 !important;
  border-radius: 50px;
}
/* line 332, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell.gridCheckbox .gridCheckboxInner label div i {
  padding: 0px;
  color: #FFF;
}
/* line 341, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell .gridHeaderIcon {
  display: flex;
  justify-content: center;
}
/* line 345, ../sass/style.scss */
.mainContainer .gridGroup .gridHeaderRow .gridCell .gridHeaderIcon i {
  padding: 0px;
}
/* line 351, ../sass/style.scss */
.mainContainer .gridGroup .gridCheckbox {
  width: 40px;
  max-width: 40px;
  min-width: 40px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
  max-height: 42px;
}
/* line 363, ../sass/style.scss */
.mainContainer .gridGroup .gridCheckbox .gridCheckboxInner {
  position: relative;
  width: 40px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
/* line 372, ../sass/style.scss */
.mainContainer .gridGroup .gridCheckbox .gridCheckboxInner label {
  cursor: default;
}
/* line 375, ../sass/style.scss */
.mainContainer .gridGroup .gridCheckbox .gridCheckboxInner label div {
  margin: 0;
  width: 18px;
  height: 18px;
  border-radius: 50px;
}
/* line 384, ../sass/style.scss */
.mainContainer .gridGroup .gridCollapseAdd {
  min-width: 80px !important;
  width: 80px;
  max-width: 80px;
  padding: 0 !important;
}
/* line 390, ../sass/style.scss */
.mainContainer .gridGroup .gridCollapseAdd .gridCollapse {
  width: 40px;
  height: 42px;
  display: inline-flex;
  font-size: 18px;
  color: #3292dc;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
/* line 400, ../sass/style.scss */
.mainContainer .gridGroup .gridCollapseAdd .gridCollapse i {
  transition: all ease 0.5s;
}
/* line 404, ../sass/style.scss */
.mainContainer .gridGroup .gridCollapseAdd .gridAddTask {
  width: 40px;
  height: 42px;
  display: inline-flex;
  font-size: 18px;
  color: #3292dc;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
/* line 415, ../sass/style.scss */
.mainContainer .gridGroup .gridDragMove {
  display: flex;
  align-items: start;
  justify-content: center;
  min-width: 40px !important;
  width: 40px;
  max-width: 40px;
  padding: 0 !important;
}
/* line 424, ../sass/style.scss */
.mainContainer .gridGroup .gridDragMove .gridMoveIcon {
  width: 40px;
  height: 42px;
  display: inline-flex;
  font-size: 18px;
  color: #b5b5b5;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
/* line 435, ../sass/style.scss */
.mainContainer .gridGroup .gridDragMove .gridDragIcon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  font-size: 18px;
  color: #3292dc;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
/* line 446, ../sass/style.scss */
.mainContainer .gridGroup .gridResponsibleBGColor {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
/* line 454, ../sass/style.scss */
.mainContainer .hideTask {
  display: none;
}
/* line 457, ../sass/style.scss */
.mainContainer .toggled i {
  transform: rotate(-180deg);
}
/* line 461, ../sass/style.scss */
.mainContainer .droppableContainer {
  padding-bottom: 42px;
  background: rgba(248, 246, 246, 0.62) !important;
}
/* line 465, ../sass/style.scss */
.mainContainer .droppableContainer::after {
  content: '' !important;
  background: rgba(248, 246, 246, 0.62) !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  height: 40px !important;
  bottom: 0 !important;
}

/* line 477, ../sass/style.scss */
.maxRowWidth {
  display: flex;
}

/* line 481, ../sass/style.scss */
.setMaxWidth {
  width: 100%;
}
